/* Responsive table fix firefox */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

/* Table edit-button */
td.btn-edit {
    width: 90px;
}

/* Add new item button */
.new-item {
    margin-top: 20px;
}

/* Pagination */
.pagination {
    float: right;
}

.table-padding {
    padding-bottom: 170px;
}

.placeholder {
    height: 60px;
}

.table-text-center td, .table-text-center th {
    text-align: center;
}