/* Responsive table fix firefox */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

/* Admin gombok szélessége */
td.btn-edit {
    width: 90px;
}

/* Új elem hozzáadása gomb */
.new-item {
    margin-top: 20px;
}

/* Pagination */
.pagination {
    float: right;
}

/* Table padding */
.table-padding {
    padding-bottom: 170px;
}

/* Placeholder */
.placeholder {
    height: 60px;
}

/* Szöveg középre helyezése táblázatban */
.table-text-center td, .table-text-center th {
    text-align: center;
}

/* Szöveg balra control-labelben */
.control-label .label-text-left {
    text-align: left;
}

/* Eredmények padding módosítások */
#results>tbody>tr>th.no-sort, #results>tfoot>tr>th.no-sort, #results>thead>tr>th.no-sort {
    padding-left: 0px;
    padding-right: 0px;
}

#results>tbody>tr>td, #results>tfoot>tr>td, #results>thead>tr>td {
    padding-left: 5px;
    padding-right: 5px;
}

#results>tbody>tr>th.sort, #results>tfoot>tr>th.sort, #results>thead>tr>th.sort {
    padding-left: 4px;
    padding-right: 25px;
}
/* Piros label */
label.control-label.label-orange  {
    color: #ff840f;
}